body{
    background-color: grey;
  }  
.facebook{
  background-color: white;
  margin: 50px;
  border: solid white;
  border-radius: 20px;
  height: 400px;width: 300px;
}
.info{
  background-color: white;
  margin: 50px;
  border: solid white;
  border-radius: 20px;
  height: 400px;width: 300px;
}
   }
  </style>
</head>
<body>
  <div class="facebook">
  <h1>Facebook</h1>
  <h2>about</h2>
  <i class="fa-solid fa-graduation-cap"></i>
  </div>
  <div class="info">
    <h3>study</h3>
    <i class="fa-solid fa-graduation-cap"></i>
    <i class="fa-solid fa-location-dot"></i>
    <i class="fa-sharp fa-solid fa-house-chimney"></i>
  </div>
  <script src="https://kit.fontawesome.com/2eba6275da.js" crossorigin="anonymous"></script>
</body>